.features {

    width: 100%; /* Take up the entire width of the viewport */
    max-width: 100%; /* Ensure it doesn't exceed the viewport width */
    margin: 0 auto; /* Center the container horizontally */
    

    .container {
        text-align: center;

        #text {
            padding-bottom: 2rem;
        }

        .tools-features {
            display: grid;
            grid-template-columns: 1fr;
            gap: 2rem;
            justify-content: center;
            align-items: center;

            .box {
                /*background-color: #75479a40 ;*/
                background-color: #a7a7a728;
                padding: 2rem;
                border-radius: 25px;

                img {
                    padding-bottom: 1rem;
                }
            }

            @media screen and (min-width: 992px) {
                grid-template-columns: 1fr 1fr 1fr;
            }
        }
    }
}
