.header {
    padding: 15px 0;
    width: 100%; /* Take up the entire width of the viewport */
    max-width: 100%; /* Ensure it doesn't exceed the viewport width */
    margin: 0 auto; /* Center the container horizontally */

    .container {
        display: grid;
        align-items: center;
        grid-template-columns: 1fr auto auto;
        grid-template-areas: "logo switch mobile" "menu menu menu" "buttons buttons buttons";
        gap: 40px;

        @include lg {
            grid-template-columns: auto 1fr auto auto;
            grid-template-areas: "logo menu switch buttons";
        }

        #logo {
            grid-area: logo;
        }

        #menu {
            grid-area: menu;
            display: none;

            @include lg {
                display: block;
            }

            nav {
                display: flex;
                gap: 15px;
            }
        }

        .btn-switch {
            grid-area: switch;
        }

        #account-buttons {
            grid-area: buttons;
            display: none;
            gap: 15px;

            @include lg {
                display: flex;

                p {
                    display: none;
                }
            }
        }

        .btn-mobile {
            grid-area: mobile;
            display: block;
            z-index: 2;

            @include lg {
                display: none;
            }
        }
    }

    .btn-mobile.active {
        color: white;
    }

    .hide {
        display: none;
    }

    #menu.visible {
        display: flex;
        height: 100%;
        width: 100%;
        position: fixed;
        top: 0;
        left: 0;
        background-color: #2d3862;
        justify-content: center;
        align-items: start;
        padding-top: 8rem;
        z-index: 1;

        nav {
            flex-direction: column;

            a {
                color: white;
                display: block;
                margin-bottom: 1rem;
            }
        }

        @include lg {
            display: none;
        }
    }

    #account-buttons.visible {
        position: fixed;
        bottom: 0;
        padding-bottom: 4rem;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 80%;
        height: 9rem;
        justify-self: center;
        z-index: 2;

        a {
            height: 3rem;
            width: 10rem;
        }

        @include lg {
            display: none;
        }

        p {
            z-index: 2;
            color: #bfb8b8;
            position: absolute;
            bottom: 0;
            padding-bottom: 1rem;

            @include lg {
                display: none;
            }
        }
    }
}
