.showcase {
    display: flex;

    .taskmaster-image {
        display: none;

        @media screen and (min-width: 992px) {
            width: auto;
            height: auto;
            display: block;
        }
    }

    .container {
        display: flex;
        align-items: center;
        justify-content: center;

        .content {
            text-align: center;
            margin-top: 30px;
            margin-bottom: 100px;

            @media screen and (min-width: 992px) {
                text-align: left;
                margin-top: 60px;
                margin-left: 12rem;
            }

            a {
                @media screen and (min-width: 992px) {
                    width: 15rem;
                }
            }

            p {
                padding-top: 1rem;
                padding-bottom: 2rem;
            }

            h6 {
                padding-top: 2rem;
                padding-bottom: 1rem;

                @media screen and (min-width: 992px) {
                    padding-top: 10rem;
                    padding-bottom: 1rem;
                }
            }

            .brands {
                display: flex;
                gap: 1rem;
            }
        }
    }
}
