.signup {
    width: 100%; /* Take up the entire width of the viewport */
    max-width: 100%; /* Ensure it doesn't exceed the viewport width */
    margin: 0 auto; /* Center the container horizontally */
    height: 100%;

    .container {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100%;


        @media(min-width: 992px) {
            width: 65%;
        }

        @media(min-width: 1200px) {
            width: 55%;
        }

        form {
            .content {
                display: grid;
                gap: 1rem;
                grid-template-columns: 1fr;
                grid-template-areas: "firstname" "lastname" "email" "password" "confirm" "terms" "submit";

                @media(min-width: 992px) {
                    grid-template-columns: 1fr 1fr;
                    grid-template-areas: "firstname lastname" "email email" "password confirm" "terms terms" "submit submit";
                }

                #form-firstname {
                    grid-area: firstname;
                }

                #form-lastname {
                    grid-area: lastname;
                }

                #form-email {
                    grid-area: email;
                }

                #form-password {
                    grid-area: password;
                }

                #form-confirm {
                    grid-area: confirm;
                }

                #form-terms {
                    grid-area: terms;
                }

                #form-submit {
                    grid-area: submit;
                }
            }
        }
    }
}
