.signin {
    .container {

        @media(min-width: 992px) {
            width: 65%;
        }

        @media(min-width: 1200px) {
            width: 55%;
        }

        form {

            .content {
                display: grid;
                gap: 1rem;

                a {
                    text-align: center;
                }
            }
            // removes the red validation color on text inputs
            .input-validation-error {
                box-shadow: none;
                color: black;

                &::placeholder {
                    color: black;
                }
            }
        }
    }
}


