@{
    ViewData["Title"] = "Home";
}



<div id="showcase">
    <partial name="~/Views/Shared/Partials/_ShowcasePartial.cshtml" />
</div> 

<div id="features">
    <partial name="~/Views/Shared/Partials/_FeaturesPartial.cshtml" />
</div>


@* <partial name="~/Views/Shared/Partials/_HeaderPartial.cshtml"/>
<partial name="~/Views/Shared/Partials/_FooterPartial.cshtml" /> *@

@* @Html.Partial("~/Views/Shared/Partials/_FooterPartial.cshtml");
@await Html.PartialAsync("~/Views/Shared/Partials/_FooterPartial.cshtml"); *@