<section class="downloadapp">
    <div class="container">
        <img id="screens" src="/images/screens.svg" alt="" />
        <div class="content">
            <h2>Download Our App for Any Devices:</h2>
            <div class="app-store">
                <div class="rating">
                    <p>App Store</p>
                    <img src="/images/rating.svg" alt="" />
                    <h3>Editor's Choice</h3>
                    <p>rating 4.7, 187K+ reviews</p>
                </div>
                <a id="appstore" href=""><img src="/images/appstore.svg" alt="" /></a>
            </div>
            <div class="google-play">
                <div class="rating">
                    <p>Google Play</p>
                    <img src="/images/rating.svg" alt="" />
                    <h3>App of the Day</h3>
                    <p>rating 4.8, 30K+ reviews</p>
                </div>
                <a id="google" href=""><img src="/images/googleplay.svg" alt="" /></a>
            </div>
        </div>
    </div>
</section>
