<header>
    <div class="container">
        <a id="logo" href="home.html"><img src="~/images/silicon-logotype-light.svg" alt="" ></a>
        <div id="menu">
            <nav>
                <a class="menu-link" href="#showcase">Overview</a>
                <a class="menu-link" href="#features">Features</a>
                <a class="menu-link" href="contact.html">Contact</a>
            </nav>
        </div>
        <div class="btn-switch">
            <label>Light</label>
            <label class="switch" for="switch-mode">
                <input type="checkbox" id="switch-mode"/>
                <div class="slider round"></div>
            </label>
            <label>Dark</label>
        </div>
        <div class="account-buttons">
            <a class="btn-gray"><i class="fa-solid fa-right-to-bracket"></i><span>Sign In</span></a>
            <a class="btn-theme"><i class="fa-regular fa-user"></i><span>Sign Up</span></a>
        </div>

        @* not functional *@
        <div class ="btn-mobile">
            <i class="fa-solid fa-bars"></i>
        </div>

    </div>
</header>
