<div class="header">
    <div class="container">
        <a id="logo" asp-controller="Home" asp-action="Index"><img src="~/images/silicon-logotype-light.svg" alt="" ></a>
        <div id="menu" class="hide">
            <nav>
                <a class="menu-link" asp-controller="Home" asp-action="Index" asp-fragment="showcase">Overview</a>
                <a class="menu-link" href="#features">Features</a>

                <a class="menu-link" href="contact.html">Contact</a>

            </nav>
        </div>
        <div class="btn-switch">
            <label>Light</label>
            <label class="switch" for="switch-mode">
                <input type="checkbox" id="switch-mode"/>
                <div class="slider round"></div>
            </label>
            <label>Dark</label>
        </div>
        <div id="account-buttons" class="hide">
            <a class="btn-gray"><i class="fa-solid fa-right-to-bracket"></i><span>Sign In</span></a>
            <a class="btn-theme"><i class="fa-regular fa-user"></i><span>Sign Up</span></a>
        </div>

        
        <button onclick="toggleMenu()" class="btn-mobile">
            <i class="fa-solid fa-bars"></i>
        </button>
    </div>
</div>
