<section class="lightdarkmode">
        <div class="darkmode">
            <h2 id="h2">Switch Beteween Light & Dark Mode</h2>
            <img src="/images/MacBook Pro-dark.svg" alt=""/>
        </div>
        <div class="lightmode">
            <h2>Light & Dark Mode</h2>
            <img id="lightimage" src="/images/MacBook Pro-light.svg" alt="" />
        </div>
</section>