<section class="WorkWithUs">
    <div class="container">
        <div class="content">
            <p>Ready to get started?</p>
            <h2>Take Your Skills To the <br/> Next Level</h2>
            <a class="btn-theme-s">Work with us</a>
        </div>
        <img src="/images/illustration.svg" alt="" />
    </div>
</section>
