@model SignInModel
@{
    ViewData["Title"] = "Sign In";
}

<section class="signin">
    <div class="container">
        <form method="post" asp-controller="Auth" asp-action="SignIn" novalidate>
            <div class="error-message">
                @Model.ErrorMessage
            </div>
            <h1>Welcome back</h1>
            <p>Dont have an account yet? <a asp-action="SignUp">Sign up here</a></p>
            <div class="content">
                <div id="form-email" class="input-group">
                    <label asp-for="Email"></label>
                    <input asp-for="Email" />
                </div>
                <div id="form.password" class="input-group">
                    <label asp-for="Password"></label>
                    <input asp-for="Password" />
                </div>
                <div id="form-remember" class="checkbox">
                    <div class="checkbox-group">
                        <div class="input-group">
                            <input asp-for="RememberMe" />
                            <label asp-for="RememberMe"></label>
                        </div>
                    </div>
                </div>
                <button id="form-submit" class="btn-theme-s" type="submit">Sign In</button>
                <a>Forgot your password?</a>
            </div>
        </form>
    </div>
</section>
